<h1>Welcome to the dashboard !</h1><br>

<a href="/plugins/new">Add A Plugin</a><br>
<a href="#">Show All Of Your Listed Plugins</a><br>
<a href="#">Show Your Purchased/Booked Plugins</a><br>
<a href="#">Profile</a><br>
