<p>
	<strong>Name of User : </strong>
		<%= @user.first_name %><br>
	<strong>Email : </strong>
		<%= @user.email %><br>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>